<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav>
    <div class="nav-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Логотип">
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('reviews') }}">Отзывы</a></li>
            <li><a href="{{ url_for('about') }}">О нас</a></li>
        </ul>
    </div>
</nav>

<section class="about-content">
    <h1>О нас</h1>
    <div>
        <p>Компания "Зеленый Урожай" специализируется на производстве и продаже высококачественных теплиц для садоводов и
        фермеров. Мы предлагаем широкий ассортимент теплиц различных размеров и конструкций, изготовленных из прочных и
        долговечных материалов. Наши теплицы обеспечивают оптимальное сочетание светопроницаемости, теплоизоляции и
        защиты от неблагоприятных погодных условий.</p>

        <p>Мы стремимся сделать выращивание овощей и зелени доступным и удобным для каждого. Благодаря использованию
        современных технологий и материалов, наши теплицы отличаются надежностью, простотой сборки и долговечностью. В
        нашем ассортименте вы найдете как стандартные модели, так и индивидуальные решения, адаптированные под ваши
        потребности и условия эксплуатации.</p>

        <p>Помимо производства теплиц, мы также предоставляем услуги по доставке, монтажу и обслуживанию нашей продукции.
        Наша команда профессионалов готова помочь вам на каждом этапе — от выбора подходящей модели до установки и
        настройки оборудования.</p>

        <p>Выбирайте "Зеленый Урожай" и наслаждайтесь свежими овощами и зеленью круглый год!</p>
    </div>
</section>
</body>
</html>